.search{
  color:white;
  height: 400px;
  background-image: url("https://images.freeimages.com/images/large-previews/7d8/blue-abstract-in-3d-1147496.jpg");
  left:0px;
  font-family: 'Anton-Regular', sans-serif;
}

h1{
  font-size:90px;
  margin:0px;
  padding-top:80px;
}

.text{
  font-size: 20px;

}
.form{
  padding-left:90px;
  padding-top: 20px;

}
.form input{
  border-radius:20px;
  height:40px;
  font-size:20px;
  outline:none;

}

.form button{
  width:120px;
  height:40px;
  margin-left:-80px;
  border-radius: 20px;
  background: linear-gradient(to right,#36d3ac, #2abbd2);
  outline:none;
  color:white;
  font-weight: 500;
  font-size: 20px;
  border: none;
}
